<global-home-layout ...input>
  <@section-list-blocks>
    <div class="row">
      <div class="col-md-4">
        <global-section-list-block alias="news" />
      </div>
      <div class="col-md-4">
        <global-section-list-block alias="business" />
      </div>
      <div class="col-md-4">
        <global-section-list-block alias="technology" />
      </div>
    </div>
  </@section-list-blocks>
</global-home-layout>
