.full-width-native-ad {
  height: 100%;
  padding: 24px;
  background-color: $gray-100;
  border-radius: 4px;
}

.node {
  $self: &;

  &--full-width-native-ad {
    background-color: $gray-100;

    .sponsored-content-link-url {
      color: $primary;
      @include skin-typography($style: "sponsored-by");
    }

    #{ $self } {
      &__title {
        margin-bottom: 0;
        @include skin-typography($style: "header-2", $link-style: "primary");
      }

      &__header {
        margin-bottom: 10px;
      }

      &__contents--body {
        margin-bottom: 24px;
      }

      &__text--teaser {
        margin-top: 8px;
        margin-bottom: 0;
        @include skin-typography($style: "small-body-text", $link-style: "primary");
      }


    }
  }
}
