.most-popular {
  &__header {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: $font-weight-bold;
    text-align: center;
  }

  &__card-wrapper {
    display: flex;
    flex-direction: row;
  }

  &__position {
    $size: 48px;
    $font-size: 35px;
    position: absolute;
    width: $size;
    height: $size;
    padding-top: ($size - $font-size) / 2;
    font-family: $skin-font-family-open-sans-condensed;
    font-size: $font-size;
    font-weight: $font-weight-bold;
    line-height: 1;
    text-align: center;
    background-color: #eee;
  }
}

.node {
  &--most-popular {
    margin-left: 70px;
  }
}
