.opinion {
  padding-top: 50px;
  padding-bottom: 50px - map-get($spacers, block);

  @media (max-width: $skin-small-spacer-breakpoint) {
    padding-top: 25px;
    padding-bottom: calc(25px - (#{map-get($spacers, block)} / 2));
  }

  @include media-breakpoint-down(sm) {
    padding-top: 0;
    padding-bottom: 0;
    background-color: $white;
  }

  &__header {
    padding-right: $grid-gutter-width / 2;
    padding-left: $grid-gutter-width / 2;

    @include section-header-underline();

    @include media-breakpoint-down(sm) {
      margin-bottom: 24px;
    }
  }
}

.node {
  $self: &;
  &--opinion {
    background-color: $gray-100;

    @include media-breakpoint-down(sm) {
      padding-bottom: 16px;
      background-color: $white;
      @include marko-web-node-list-border(border-bottom);
    }

    #{ $self } {
      &__title {
        @include skin-typography($style: "header-3", $link-style: "primary");
        margin-bottom: 0;
      }
      &__website-section-name {
        @include skin-typography($style: "slug-small", $link-style: "primary");
      }
    }
  }
}

.card-deck-flow {
  $self: &;
  &--opinion {
    margin-right: 0;
    margin-left: 0;
    background-color: $gray-100;

    @include media-breakpoint-down(sm) {
      background-color: $white;
    }

    #{ $self } {
      &__node {
        @include media-breakpoint-down(sm) {
          margin-bottom: 16px;
        }
      }
    }
  }
}
