.node {
  $self: &;

  &--read-next {
    #{ $self } {
      &__title {
        @include skin-typography($style: "header-3", $link-style: "primary");
      }

      &__website-section-name {
        @include skin-typography($style: "slug-small", $link-style: "primary");
      }

      &__image-wrapper {
        display: none;
        @include media-breakpoint-up(md) {
          display: block;
        }
      }

      &__image-wrapper + #{$self}__body {
        margin-left: 0;
        @include media-breakpoint-up(md) {
          margin-left: 20px;
        }
      }
    }
  }
}

.read-next {
  margin-top: 30px;
  &__header {
    margin-bottom: 16px;
    @include skin-typography($style: "section-header-xs");
  }
}
