.related-stories {
  padding-top: $block-spacer / 2;
  padding-bottom: $block-spacer / 2;

  &__header {
    margin-bottom: $block-spacer;
    font-size: 24px;
    font-weight: $font-weight-bold;
    text-align: center;
  }
}
