.node {
  $self: &;
  &--section-feed {
    #{ $self } {
      &__title {
        font-weight: $font-weight-bold;
        @include skin-fonts-lg-md();
      }

      &__text--teaser {
        @include skin-fonts-md-none();
      }

      &__body {
        max-width: 700px;
      }
    }
  }
  &--gear {
    padding: 1rem;
    background-color: $gray-100;
    #{ $self } {
      &__title {
        @include skin-node-fonts(
          $font-size: 22px,
          $line-height: 1.09,
          $font-size-sm: $skin-node-text-font-size-md,
          $line-height-sm: $skin-node-text-line-height-md,
        );
      }
    }
  }
}

.node-list {
  $self: &;
  &--section-feed {
    #{ $self } {
      &__node {
        border-bottom: none;
      }
    }
  }
}
