.node {
  $self: &;
  &--section-list-card {
    #{ $self } {
      &__title {
        @include skin-typography($style: "header-3", $link-style: "primary");
        margin-bottom: 0;
      }
      &__website-section-name {
        @include skin-typography($style: "slug-small", $link-style: "primary");
        margin-bottom: 4px;
      }
    }
  }

  &--section-list-item {
    #{ $self } {
      &__title {
        @include skin-typography($style: "header-3", $link-style: "primary");
        margin-bottom: 0;
      }
      &__website-section-name {
        @include skin-typography($style: "slug-small", $link-style: "primary");
        margin-bottom: 1px;
      }
    }
  }
}

.node-list {
  $self: &;
  &--section-list {
    padding-top: map-get($spacers, block);
    padding-bottom: map-get($spacers, block);

    @media (max-width: $skin-small-spacer-breakpoint) {
      padding-top: calc(#{map-get($spacers, block)} / 2);
      padding-bottom: calc(#{map-get($spacers, block)} / 2);
    }

    #{ $self } {
      &__header {
        @include skin-typography($style: "section-header-small", $link-style: "primary");
        margin-bottom: 16px;
      }
    }
  }

  &__footer {
    &--view-more {
      @include skin-typography($style: "view-more", $link-style: "primary");
    }
  }
}
