.social-follow {
  $self: &;
  &__header {
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: $font-weight-bold;
    line-height: get-line-height(18px, 24px);
  }

  &__section {
    > .social-icon-link {
      margin-right: 20px;
    }
  }

  &--dark {
    #{ $self } {
      &__header {
        color: $black;
      }
    }
  }

  &--light {
    #{ $self } {
      &__header {
        color: $white;
      }
    }
  }

  &--site-menu {
    padding-bottom: $theme-site-navbar-menu-link-padding-x * 3;
    border-bottom: 1px solid #e9e9e9;
  }
}

.marko-web-icon {
  &--social-follow {
    svg {
      width: 32px;
      height: 32px;
    }
  }
}
