.social-follow {
  $self: &;
  &__header {
    margin-bottom: 12px;
    @include skin-typography($style: "social-follow-header");
  }

  &__section {
    > .social-icon-link {
      margin-right: 20px;
    }
  }
}

.marko-web-icon {
  &--social-follow {
    svg {
      width: 36px;
      height: 36px;
    }
  }
}
