.node {
  $self: &;

  &--top-stories-hero {
    margin-bottom: 16px;
    #{ $self } {
      &__title {
        margin-bottom: 16px;
        @include skin-fonts-xl-md();
      }
    }
  }
}

.top-stories {
  padding-top: $block-spacer / 2;
  padding-bottom: $block-spacer / 2;

  &__header {
    margin-bottom: $block-spacer;
    font-size: 32px;
    font-weight: $font-weight-bold;
    text-align: center;
  }
}
