$ const { id, type, pageNode, ...rest } = input;

<global-content-default-layout
  id=id
  type=type
  page-node=pageNode
  show-read-next-block=false
  show-bottom-ad-block=false
  show-top-story-block=false
  ...rest
>
  <@after-body>
    <hr />
    <global-section-title-feed-block alias='death-by-trench'>
      <@query-params limit=1000 />
    </global-section-title-feed-block>
  </@after-body>
</global-content-default-layout>
