import categories from "../../categories";

$ const { id, alias, name, pageNode } = data;

<shared-website-section-page-latest-with-directory-layout
  id=id
  alias=alias
  name=name
  page-node=pageNode
>
  <@directory facets=categories />
  <@load-more name="list-card-deck" />
</shared-website-section-page-latest-with-directory-layout>
