$theme-site-header-breakpoints: (
  hide-primary: 100000px, // effectively always hide the primary nav
  hide-secondary: 700px,
  small-logo: 775px,
  small-text-primary: 0,
  small-text-secondary: 830px
);

// Colors
$primary: #103a57;

@import "../../node_modules/@randall-reilly/package-global/scss/core";

.top250-container {
  .table-responsive {
    max-height: 500px;
    overflow: scroll;
  }
  .btn-secondary {
    &:focus,
    &:hover {
      color: $gray-700;
      background-color: #fff;
      border-color: $gray-700;
    }
  }
  @include media-breakpoint-down(md) {
    .custom-select {
      margin-bottom: map-get($spacers, 2);
    }
  }
}
