$theme-site-header-breakpoints: (
  hide-primary: 100000px, // effectively always hide the primary nav
  hide-secondary: 780px,
  small-logo: 980px,
  small-text-primary: 0,
  small-text-secondary: 980px
);

// Colors
$primary: #103a57;

@import "../../node_modules/@randall-reilly/package-global/scss/core";

.top250-container {
  .table-responsive {
    max-height: 500px;
    overflow: scroll;
  }
  .btn-primary {
    &.custom-select{
      color: #fff;
      background: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'><path fill='#ffffff' d='M2 0L0 2h4zm0 5L0 3h4z'/></svg>") no-repeat right 1.125rem center/8px 10px;
      background-color: $primary;
      border-color: $primary;
    }
  }
  .btn-secondary {
    &:focus,
    &:hover {
      color: $gray-700;
      background-color: #fff;
      border-color: $gray-700;
    }
  }
  @include media-breakpoint-down(md) {
    .custom-select {
      margin-bottom: map-get($spacers, 2);
    }
  }
}
