.pib-page {
  &__header {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
  }

  &__website-section-name {
    margin-bottom: 8px;
    @include skin-typography($style: "pib-title");
  }

  &__description {
    margin-bottom: 27px;
    @include skin-typography($style: "pib-description");
  }

  &__partners-label {
    margin-bottom: 20px;
    @include skin-typography($style: "pib-partners");
    text-transform: uppercase;
  }

  &__partner-logos {
    display: flex;
    justify-content: center;
  }

  &__partner-logo-1 {
    width: 88px;
    margin-right: 22px;
  }

  &__partner-logo-2 {
    width: 148px;
  }
}


.pib-page-card {
  height: 100%;
  padding: 24px;
  background-color: $gray-100;
  border-radius: 4px;

  &__title {
    margin-bottom: 8px;
    @include skin-typography($style: "header-2");
  }

  &__description {
    margin-bottom: 16px;
    @include skin-typography($style: "small-body-text");
  }

  &__inner-wrapper {
    display: flex;
  }

  &__issue-cover {
    width: 120px;
    height: 160px;
    margin-left: 24px;
  }
}
