<global-home-layout ...input>
  <@section-list-blocks>
    <div class="row">
      <div class="col-md-4">
        <global-section-list-block alias="commercial-truck-dealer-news" />
      </div>
      <div class="col-md-4">
        <global-section-list-block alias="semi-truck-repair-service" />
      </div>
      <div class="col-md-4">
        <global-section-list-block alias="dealer-development" />
      </div>
    </div>
  </@section-list-blocks>
</global-home-layout>
