$theme-site-header-breakpoints: (
  hide-primary: 100000px, // effectively always hide the primary nav
  hide-secondary: 750px,
  small-logo: 950px,
  small-text-primary: 0,
  small-text-secondary: 950px
);

// Colors
$primary: #b9161b;

@import "../../node_modules/@randall-reilly/package-global/scss/core";

@import "./components/partners-in-business-page";

.site-navbar {
  &__items {
    &--secondary {
      // ensures the nav items are aligned to the offset logo
      padding-top: 4px;
    }
  }
}

.site-footer {
  &__brand {
    margin-bottom: 0;
  }
}
