$primary: #b91d21;

$theme-site-header-breakpoints: (
  hide-primary: 832px,
  hide-secondary: 906px,
  small-logo: 1015px,
  small-text-primary: 932px,
  small-text-secondary: 1105px
);

@import "../../node_modules/@randall-reilly/package-global/scss/core";

.site-navbar {
  &__items {
    &--secondary {
      // ensures the nav items are aligned to the offset overdrive logo
      padding-top: 6px;
    }
  }
}
