<global-home-layout ...input>
  <@section-list-blocks>
    <div class="row">
      <div class="col-md-4">
        <global-section-list-block alias="construction-and-landscaping" />
      </div>
      <div class="col-md-4">
        <global-section-list-block alias="pickup-and-delivery" />
      </div>
      <div class="col-md-4">
        <global-section-list-block alias="utililties" />
      </div>
    </div>
  </@section-list-blocks>
</global-home-layout>
