$theme-site-navbar-logo-height: 45px !default;
$theme-site-navbar-logo-height-sm: 25px !default;

$theme-item-description-max-lines: 5 !default;

$theme-content-heading-large-margin-bottom:     11px !default;
$theme-content-heading-large-margin-bottom-sm:  11px !default;

$theme-content-heading-h4-margin-bottom:        11px !default;
$theme-content-heading-h4-margin-bottom-sm:     11px !default;

$theme-content-heading-h5-margin-bottom:        11px !default;
$theme-content-heading-h5-margin-bottom-sm:     11px !default;

$theme-content-heading-h6-margin-bottom:        11px !default;
$theme-content-heading-h6-margin-bottom-sm:     $theme-content-heading-h6-margin-bottom !default;

$leaders-promotion-card-count: 3 !default;
$leaders-video-card-count: 2 !default;

@import "../../node_modules/@base-cms/marko-web-gam/scss/fixed-ad-bottom";
@import "../../node_modules/@base-cms/marko-web-reveal-ad/scss/reveal-ad";
@import "../../node_modules/@base-cms/marko-web-social-sharing/scss/buttons";
@import "../../node_modules/@base-cms/marko-web-theme-default/skins/orion/skin";

$theme-newsletter-block-bg-color: $theme-card-header-background-color !default;
$theme-newsletter-block-button-bg-color: #c83e31 !default;

$pswp__root-z-index: $theme-site-header-z-index + 1 !default;
@import "../../node_modules/@base-cms/marko-web-photoswipe/scss/main";

@import "../../node_modules/@randall-reilly/package-gam-prestitial/scss/prestitial";
@import "../../node_modules/@randall-reilly/package-contact-us/scss/index";

@import "./components/card-deck-flow";
@import "./components/company-page";
@import "./components/content-print";
@import "./components/identity-x";
@import "./components/inquiry";
@import "./components/node";

.social-sharing {
  padding: 10px 0;
}

.node-list {
  &--sticky-top {
    @media (min-height: 710px) {
      position: sticky;

      $sorted: sort-map-by-values($theme-site-header-breakpoints, desc);
      $highest: nth($sorted, 1);
      top: calculate-navbar-height-for($highest, 20px);

      @each $breakpoint, $width in sort-map-by-values($theme-site-header-breakpoints, desc) {
        @media (max-width: $width) {
          top: calculate-navbar-height-for($breakpoint, 20px);
        }
      }
    }
  }
}

.page-wrapper {
  &__section-title {
    margin-bottom: 1rem;
    font-family: $theme-font-family-sans-serif;
    font-size: 22px;
    font-weight: $font-weight-bold;
    line-height: 1.2;
    color: $primary;
    text-transform: uppercase;
  }
}

.content-page-preview-overlay {
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: -50px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 100%);
}

.content-page-gate {
  padding: 20px;
  margin-top: map-get($spacers, block);
  margin-bottom: map-get($spacers, block);
  background: transparent linear-gradient(to bottom, #fcfcfc, #f6f6f6) repeat scroll 0% 0%;
  border-bottom: 2px solid #ddd;

  &__title {
    margin-bottom: 15px;
    font-family: $theme-font-family-sans-serif;
    font-size: 17px;
    font-weight: $font-weight-bold;
    color: $primary;
    text-transform: uppercase;
  }

  &__body {
    margin-bottom: 15px;
    font-family: $theme-font-family-serif;
    font-size: 16px;
    color: #222;
    > p {
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.newsletter-signup-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: $grid-gutter-width * 2;
  background-color: $theme-newsletter-block-bg-color;

  &__title {
    @include theme-line-height-crop(1.5);
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    color: $white;
    text-align: center;
  }

  &__form {
    width: 100%;
  }

  &__field-wrapper {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  &__email-field {
    width: 70%;
    height: 45px;
    padding: 2px 20px;
    font-family: $theme-font-family-serif;
    border: 0;
  }

  &__submit-button {
    height: 44px;
    padding: 2px 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    font-family: $theme-font-family-sans-serif;
    font-size: 15px;
    font-weight: $font-weight-bold;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: $theme-newsletter-block-button-bg-color;
    border: none;
  }

  &--margin-top {
    margin-top: map-get($spacers, block);
  }
}
