// Fonts
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");
$theme-font-family-sans-serif: Roboto, sans-serif !default;
$theme-font-family-serif: "Fira Sans", sans-serif !default;
$theme-font-family-page-title: $theme-font-family-serif !default;

$black:           #202022 !default;
$body-bg:         #f6f6f6 !default;
$font-weight-bold:      700 !default;

$theme-page-bg-color: #fff;

// header
$theme-card-header-background-color: #000 !default;
$theme-card-header-letter-spacing: 1px !default;
$theme-card-header-font-weight: $font-weight-bold;

// secondary nav
$theme-site-navbar-secondary-bg-color: #2f3031 !default;

// primary nav
$theme-site-navbar-primary-font-family: "Fira Sans", sans-serif !default;
$theme-site-navbar-primary-font-size: 18px !default;
$theme-site-navbar-primary-bg-color: #202022 !default;
$theme-site-navbar-primary-font-weight: 700 !default;
$theme-site-navbar-primary-link-active-decoration: none !default;
$theme-site-navbar-primary-link-hover-decoration: none !default;

$theme-site-navbar-primary-link-active-background-color: $primary !default;
$theme-site-navbar-primary-link-hover-background-color:  $primary !default;

$marko-web-page-wrapper-padding:  1rem !default;
$marko-web-page-wrapper-section-margin: 1.25rem !default;

$theme-card-border: 1px solid rgba(239, 239, 239, .9) !default;
$marko-web-node-list-border-color: $theme-card-border !default;

// Item / Node
$theme-item-title-font-size: 19px !default;
$theme-item-title-font-size-sm: 19px !default;
$theme-item-title-font-weight: $font-weight-bold !default;
$theme-item-title-line-height: 1.33 !default;
$theme-item-title-line-height-sm: 1.33 !default;

$theme-item-title-large-font-size: 24px;
$theme-item-title-large-font-size-sm: 24px;
$theme-item-title-large-line-height: 1.33 !default;
$theme-item-title-large-line-height-sm: 1.33 !default;

$theme-item-description-font-size: 16px !default;
$theme-item-description-font-size-sm: 16px !default;
$theme-item-description-line-height: 1.4 !default;
$theme-item-description-line-height-sm: 1.4 !default;
$theme-item-description-max-lines: 3 !default;

$theme-item-header-font-size: 14px !default;
$theme-item-footer-font-size: 14px !default;

$enable-rounded: false !default;
$enable-shadows: false !default;

@import "./core";

body {
  -webkit-font-smoothing: antialiased;
}

.site-header {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, .25);
}

.site-navbar {
  $self: &;
  &__items {
    &--primary {
      #{ $self } {
        &__item {
          border-right: 1px solid $theme-site-navbar-secondary-bg-color;
          letter-spacing: .5px;
          transition: background-color ease 300ms;

          &:first-child {
            border-left: 1px solid $theme-site-navbar-secondary-bg-color;
          }
          &--active {
            background-color: $theme-site-navbar-primary-link-active-background-color;
          }
        }
      }
    }
  }
}

.document-container {
  background-color: #fff;
  box-shadow: $theme-box-shadow-sm;
}

.node {
  &--sponsored {
    background-color: transparent;
  }
}

.node-list {
  &--sponsored {
    background-color: #f0f0f0;
  }
}

// @todo confirm if this is still in use.
.page-contents {
  &__content-body a {
    text-decoration: underline;
  }
}

.column-list-flow {
  &__column {
    // @include media-breakpoint-up(md) {
    //   @include make-col(6);
    // }
    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
  }
  &__list {
    margin-bottom: 0;
    // @include media-breakpoint-up(md) {
    //   @include make-col(6);
    // }
    @include media-breakpoint-up(lg) {
      @include make-col(8);
    }
  }
}
