.ad-container {
  $self: &;
  text-align: left;

  &--body-bg {
    background-color: $gray-100;
  }

  &--inline {
    margin-right: $marko-web-page-wrapper-padding * -100;
    margin-bottom: 0;
    margin-left: $marko-web-page-wrapper-padding * -100;
  }

  &--inline-content {
    margin-right: $marko-web-page-wrapper-padding * -1;
    margin-bottom: 30px;
    margin-left: $marko-web-page-wrapper-padding * -1;

    clear: both;

    @media (min-width: $skin-content-body-max-width) {
      $margin: calc(((100vw - #{$skin-content-body-max-width}) / 2) * -1);
      margin-right: $margin;
      margin-left: $margin;
    }
  }

  &--inline,
  &--inline-content {
    #{ $self } {
      &__wrapper {
        padding-bottom: 30px;
      }
    }
  }

  &--max-width-300 {
    #{ $self } {
      &__wrapper {
        @media (min-width: 300px) {
          max-width: 300px;
        }
      }
    }
  }

  &--max-width-970 {
    #{ $self } {
      &__wrapper {
        @media (min-width: 970px) {
          max-width: 970px;
        }
      }
    }
  }

  &--margin-auto-x {
    #{ $self } {
      &__wrapper {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
      }
    }
  }

  > *:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .75rem;

    &::before {
      padding-bottom: .4rem;
      font-size: .65rem;
      color: $gray-600;
      text-transform: uppercase;
      content: "Advertisement";
    }
  }
}

.page-wrapper {
  &__section {
    &--ad {
      margin-right: $marko-web-page-wrapper-padding * -100;
      margin-left: $marko-web-page-wrapper-padding * -100;
      background-color: $gray-100;
    }
  }
}
