.ad-container {
  $self: &;
  text-align: left;

  $container-bottom-padding: 30px;
  $wrapper-first-child-padding: 16px;
  $label-bottom-padding: 4px;
  $label-font-size: 10px;
  $label-line-height: 1;
  $container-height: $container-bottom-padding + $wrapper-first-child-padding + ($label-font-size * $label-line-height) + $label-bottom-padding;

  &--inter-block {
    margin-right: -#{$marko-web-page-wrapper-padding};
    margin-bottom: 0;
    margin-left: -#{$marko-web-page-wrapper-padding};
    background-color: $skin-ad-bg-color;
    @media (min-width: $marko-web-document-container-max-width) {
      $margin: calc((((100vw - #{$marko-web-document-container-max-width}) / 2) + #{$marko-web-page-wrapper-padding}) * -1);
      margin-right: $margin;
      margin-left: $margin;
    }

    @include media-breakpoint-down(md) {
      margin-right: -16px;
      margin-left: -16px;
    }

    #{ $self } {
      &__wrapper {
        padding-bottom: $container-bottom-padding;
        margin-right: auto;
        margin-left: auto;
        text-align: center;

        @media (min-width: 970px) {
          max-width: 970px;
        }
      }
    }
  }

  &--inline {
    margin-right: $marko-web-page-wrapper-padding * -1;
    margin-bottom: 0;
    margin-left: $marko-web-page-wrapper-padding * -1;
    background-color: $skin-ad-bg-color;
    @media (min-width: $marko-web-document-container-max-width) {
      $margin: calc((((100vw - #{$marko-web-document-container-max-width}) / 2) + #{$marko-web-page-wrapper-padding}) * -1);
      margin-right: $margin;
      margin-left: $margin;
    }

    @include media-breakpoint-down(md) {
      margin-right: -16px;
      margin-left: -16px;
    }
  }

  &--inline-content {
    margin-right: $marko-web-page-wrapper-padding * -1;
    margin-bottom: 30px;
    margin-left: $marko-web-page-wrapper-padding * -1;

    clear: both;
    background-color: $skin-ad-bg-color;

    @media (min-width: $skin-content-body-max-width) {
      $margin: calc(((100vw - #{$skin-content-body-max-width}) / 2) * -1);
      margin-right: $margin;
      margin-left: $margin;
    }

    @include media-breakpoint-down(md) {
      margin-right: -16px;
      margin-left: -16px;
    }
  }

  &--inline,
  &--inline-content {
    #{ $self } {
      &__wrapper {
        padding-bottom: $container-bottom-padding;
      }
    }
  }

  &--rail {
    padding-bottom: $container-bottom-padding;
    background-color: $skin-ad-bg-color;
  }

  &--max-width-300 {
    #{ $self } {
      &__wrapper {
        @media (min-width: 300px) {
          max-width: 300px;
        }
      }
    }
  }

  &--max-width-970 {
    #{ $self } {
      &__wrapper {
        @media (min-width: 970px) {
          max-width: 970px;
        }
      }
    }
  }

  &--margin-auto-x {
    #{ $self } {
      &__wrapper {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
      }
    }
  }

  &--template-leaderboard,
  &--template-rotation,
  &--template-inline-content-desktop,
  &--template-inline-content-mobile {
    min-height: 50px + $container-height;
    @media (min-width: 750px) {
      min-height: 90px + $container-height;
    }
  }

  &--inline-content#{&}--template-inline-content-desktop {
    display: none;
    @media (min-width: 750px) {
      display: block;
    }
  }

  &--inline-content#{&}--template-inline-content-mobile {
    @media (min-width: 750px) {
      display: none;
    }
  }

  &--with-label {
    > *:first-child {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: $wrapper-first-child-padding;

      &::before {
        padding-bottom: $label-bottom-padding;
        font-size: $label-font-size;
        line-height: $label-line-height;
        color: $skin-ad-label-color;
        text-transform: uppercase;
        content: "Advertisement";
      }
    }
  }
}

.wallpaper-ad {
  $width: 300px;

  position: absolute;
  right: -#{$width};
  left: -#{$width};

  display: none;

  @media (min-width: calc(#{$marko-web-document-container-max-width} + (#{$width} * 2))) {
    $position: calc((100vw - #{$marko-web-document-container-max-width}) / -2);
    right: $position;
    left: $position;
  }

  @media (min-width: 1400px) {
    display: block;
  }

  &__left,
  &__right {
    position: absolute;
    top: 0;
  }
  &__left {
    left: 0;
  }
  &__right {
    right: 0;
  }
}
