.comment-stream {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  margin-top: 16px;

  &__toggle-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 265px;
    margin-right: auto;
    margin-left: auto;
  }
}

.comment-toggle-arrow {
  margin-left: 5px;
  svg {
    fill: $primary;
  }
}

.idx-comment-stream {
  display: none;
  margin-top: 24px;

  &--open {
    display: block;
  }

  &__header {
    margin-bottom: 24px;

    font-size: 20px;
    font-weight: $font-weight-semibold;
    line-height: 1;
    color: $gray-800;
    letter-spacing: .25px;
  }

  &__latest-comments {
    font-family: $skin-font-family-primary;
    font-size: 20px;
    font-weight: $font-weight-semibold;
    line-height: 1;
    color: $gray-800;
    letter-spacing: .25px;
  }

  &__post {
    .btn {
      margin-top: 24px;
    }
  }

  &__posts {
    margin-top: 6px;
  }

  &__login-message {
    font-size: 18px;
    line-height: 1.44;
  }

  &__login-form-wrapper {
    margin-bottom: 24px;
  }

  &__login-form {
    padding-bottom: 24px;
    border-bottom: 1px solid $gray-200;

    .form-group {
      @include media-breakpoint-up(md) {
        width: 50%;
      }
    }

    .form-control {
      margin-bottom: 14px;
    }

    h4 {
      font-size: 20px;
      font-weight: $font-weight-semibold;
      line-height: 1;
      color: $gray-800;
    }

    p {
      font-size: 18px;
      font-weight: $font-weight-normal;
      line-height: 1.44;
      color: $gray-800;
    }

    em {
      font-weight: $font-weight-medium;
    }
  }

  &__close-form-wrapper {
    display: flex;
  }

  &__close-form {
    @include theme-toggle-button();
    margin-left: auto;
  }
}

.idx-comment-post {
  padding-top: 24px;
  padding-bottom: 24px;

  border-bottom: 1px solid $gray-200;

  &__flagged {
    margin-bottom: 19px !important; // stylelint-disable-line
    font-weight: $font-weight-medium;
    color: $gray-900;
  }

  &__header {
    margin-bottom: 19px;

    :nth-child(2) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__display-name {
    margin-bottom: 2px;
    font-size: 16px;
    font-weight: $font-weight-medium;
    line-height: 1.3125;
    color: $gray-800;
  }

  &__created-at {
    font-size: 16px;
    line-height: 1.3125;
    color: $gray-700;
  }

  &__body {
    font-family: $skin-font-family-primary;
    font-size: 18px;
    font-weight: $font-weight-normal;
    line-height: 1.44;
    color: $gray-800;
    letter-spacing: .25px;

    p {
      margin-bottom: 0;
    }
  }
}

.idx-create-comment {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid $gray-200;

  .form-group:first-child {
    @include media-breakpoint-up(md) {
      width: 50%;
    }
  }
}
