.page-wrapper {
  &__content-name {
    @include skin-typography($style: "header-1");
  }

  &__section {
    &--content-page-body {
      max-width: $skin-content-body-max-width;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.content-page-body {
  max-width: $skin-content-body-max-width;
  margin-right: auto;
  margin-left: auto;
}

.content-page-header {
  max-width: $skin-content-body-max-width;

  padding-top: map-get($spacers, block);
  padding-bottom: map-get($spacers, block);

  margin-right: auto;
  margin-left: auto;
}

.breadcrumbs {
  &--content-page {
    @include skin-typography($style: "slug-medium", $link-style: "primary");
    .breadcrumb {
      padding-bottom: 8px;
    }
  }
}

.page-dates {
  &__content-published {
    @include skin-typography($style: "date");
  }
}

.contact-page {
  padding-bottom: map-get($spacers, block);

  &__content-name {
    margin-top: map-get($spacers, block-lg);
    margin-bottom: map-get($spacers, block);
    @include skin-typography($style: "header-1");
  }
  &__wrapper {
    display: flex;
    margin-bottom: map-get($spacers, block);
  }
  &__image {
    $size: 160px;
    width: $size;
    height: $size;
    margin-right: 20px;
    border-radius: $size;
  }
}

.page-contents {
  $self: &;
  &__content-body {
    padding-bottom: map-get($spacers, block);
    @include skin-typography($style: "article-text", $link-style: "content-body");
  }

  &--contact {
    #{ $self } {
      &__content-body {
        max-width: 790px;
      }
    }
  }
}

.social-sharing {
  padding-bottom: map-get($spacers, block);
  &__button {
    margin-right: $block-spacer / 2;
  }
}

.content-download {
  padding-bottom: map-get($spacers, block);
}

[data-embed-type="image"] > :last-child:not(img) {
  border-bottom: none;
}
