.page-wrapper {
  &__content-name {
    @include skin-typography($style: "header-1");
  }

  &__section {
    &--content-page-body {
      max-width: $skin-content-body-max-width;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.content-page-body {
  max-width: $skin-content-body-max-width;
  margin-right: auto;
  margin-left: auto;
}

.content-page-header {
  max-width: $skin-content-body-max-width;

  &--full-width {
    max-width: 100%;
  }

  margin-right: auto;
  margin-left: auto;
}

.breadcrumbs {
  &--content-page {
    @include skin-typography($style: "slug-medium", $link-style: "primary");
    .breadcrumb {
      padding-bottom: 8px;
    }
  }
}

.page-dates {
  &__content-published {
    @include skin-typography($style: "date");
  }
}

.contact-page {
  &__content-name {
    margin-bottom: 16px;
    @include skin-typography($style: "header-1");
  }
  &__wrapper {
    display: flex;
  }
  &__image {
    $size: 160px;
    $size-small: 112px;
    width: $size-small;
    height: $size-small;
    margin-right: 20px;
    border-radius: $size-small;

    @include media-breakpoint-up(md) {
      width: $size;
      height: $size;
      border-radius: $size;
    }
  }
}

.page-contents {
  $self: &;
  &__content-body {
    padding-bottom: map-get($spacers, block);
    @include skin-typography($style: "article-text", $link-style: "content-body");
  }

  &--download-form {
    padding: 22px;
    background-color: $gray-100;
    @include media-breakpoint-up(md) {
      padding-right: 66px;
      padding-left: 66px;
    }
  }

  &--contact {
    #{ $self } {
      &__content-body {
        max-width: 790px;
      }
    }
  }
}

.social-sharing {
  padding-bottom: map-get($spacers, block);
  &__button {
    margin-right: $block-spacer / 2;
  }
}

.content-download {
  padding-bottom: map-get($spacers, block);
}

[data-embed-type="image"] > :last-child:not(img) {
  border-bottom: none;
}
