.page-wrapper {
  padding-top: 0;

  &__website-section-name {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: $theme-page-title-font-weight;
    text-transform: capitalize;
  }
}
