.site-navbar {
  $self: &;

  &__container {
    max-width: $marko-web-document-container-max-width;
    @include media-breakpoint-up(xl, $grid-breakpoints) {
      max-width: $marko-web-document-container-max-width;
    }
  }

  &__brand {
    @media (max-width: map-get($theme-site-header-breakpoints, small-logo)) {
      // reduce padding on small logo
      margin-right: $theme-site-navbar-brand-margin-x / 2;
      margin-left: $theme-site-navbar-brand-margin-x / 2;
    }

    @media (max-width: map-get($theme-site-header-breakpoints, hide-secondary)) {
      // center the logo once nav items are hidden
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__logo {
    filter: none;
  }

  &__items {
    text-transform: none;

    &--secondary {
      margin-top: auto;
      margin-bottom: auto;

      // set letter spacing per design
      letter-spacing: .5px;

      #{ $self } {
        &__link {
          padding-top: 0;
        }
      }
    }
  }
}
