.site-newsletter-menu {
  max-height: 0;

  will-change: visibility, max-height;
  visibility: hidden;
  background: linear-gradient($gray-100, $white);

  transition: max-height .25s cubic-bezier(.4, 0, .2, 1), visibility 0s linear .25s;

  &__container {
    position: relative;
    max-width: $marko-web-document-container-max-width;
    padding-top: 30px;
    padding-right: $marko-web-page-wrapper-padding;
    padding-left: $marko-web-page-wrapper-padding;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: $marko-web-document-container-max-width) {
      padding-right: 0;
      padding-left: 0;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 24px;
    }

    & .row {
      position: relative;
    }
  }

  &__form-wrapper {
    padding-bottom: 30px;
    @include media-breakpoint-down(sm) {
      max-width: 450px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__image-wrapper {
    display: flex;
  }

  &__image {
    width: 280px;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, .4));
  }

  &__name {
    @include skin-typography($style: "section-header");
    margin-bottom: 6px;
    line-height: 1.25;
    text-transform: none;
  }

  &__description {
    @include skin-typography($style: "teaser-text-1");
    margin-bottom: 16px;
  }

  &__privacy-policy {
    @include skin-typography($style: "credit-disclaimer");
    max-width: 220px;
    margin-top: 10px;
    margin-bottom: 14px;

    line-height: 1.428;

    a {
      text-decoration: underline;
    }
  }

  &__form {
    input {
      max-width: 312px;
    }
  }

  &__close-container {
    right: 0;
    display: flex;
  }

  &__close {
    @include theme-toggle-button();
    width: 25px;
    height: 25px;
    padding: 0;
    margin-right: 0;
    margin-left: auto;

    > .marko-web-icon {
      position: relative;
      top: -1px;
      @include theme-navbar-link-color($theme-site-navbar-secondary-colors);
    }
  }

  .newsletter-name {
    font-weight: $font-weight-bold;
  }

  &--open {
    max-height: 500px;
    visibility: visible;

    transition: max-height .25s cubic-bezier(.4, 0, .2, 1), visibility 0s linear 0s;
  }
}
