.site-menu {
  $self: &;

  opacity: 1;

  &__section {
    &--primary {
      padding-top: $theme-site-navbar-menu-link-padding-x + 4px;
      padding-bottom: $theme-site-navbar-menu-link-padding-x + 4px;
      border-bottom: 1px solid $gray-200;
      #{ $self } {
        &__item {
          @include skin-typography($style: "menu-item-primary");
        }

        &__link {
          @include skin-typography-link($style: "menu-item-primary", $link-style: "primary");
          &--active {
            // stylelint-disable-next-line
            font-weight: skin-typography-prop("menu-item-primary", "font-weight");
            color: skin-typography-link-prop("menu-item-primary", "primary", "hover-color");
          }
        }
      }
    }

    &--secondary {
      padding-top: $theme-site-navbar-menu-link-padding-x + 4px;
      padding-bottom: $theme-site-navbar-menu-link-padding-x + 4px;
      #{ $self } {
        &__item {
          font-size: $theme-site-navbar-menu-item-font-size - 6;
          @include skin-typography($style: "menu-item-secondary");
        }

        &__link {
          @include skin-typography-link($style: "menu-item-secondary", $link-style: "primary");
          &--active {
            // stylelint-disable-next-line
            font-weight: skin-typography-prop("menu-item-secondary", "font-weight");
            color: skin-typography-link-prop("menu-item-secondary", "primary", "hover-color");
          }
        }
      }
    }

    &--search {
      padding-bottom: $theme-site-navbar-menu-link-padding-x * 2 + 4px;

      .input-group {
        .form-control {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        .btn {
          padding-right: 18px;
          padding-left: 18px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
}

.social-follow {
  $self: &;

  &--site-menu {
    padding-bottom: $theme-site-navbar-menu-link-padding-x * 2 + 4px;
    border-bottom: 1px solid $gray-200;
  }
}
