.site-menu {
  $self: &;

  opacity: 1;

  &__items {
    line-height: 1.3;
  }

  &__section {
    &--primary {
      padding-top: $theme-site-navbar-menu-link-padding-x * 2;
    }

    &--secondary {
      #{ $self } {
        &__items {
          line-height: 1.2;
        }
        &__item {
          font-size: $theme-site-navbar-menu-item-font-size - 6;
        }
        &__link {
          padding-top: $theme-site-navbar-menu-link-padding-x - 2;
          padding-bottom: $theme-site-navbar-menu-link-padding-x - 2;
        }
      }
    }

    &--search {
      padding-bottom: $theme-site-navbar-menu-link-padding-x * 3;
    }
  }
}
