$theme-content-heading-large-margin-bottom:     11px !default;
$theme-content-heading-large-margin-bottom-sm:  11px !default;

$theme-content-heading-h4-margin-bottom:        11px !default;
$theme-content-heading-h4-margin-bottom-sm:     11px !default;

$theme-content-heading-h5-margin-bottom:        11px !default;
$theme-content-heading-h5-margin-bottom-sm:     11px !default;

$theme-content-heading-h6-margin-bottom:        11px !default;
$theme-content-heading-h6-margin-bottom-sm:     $theme-content-heading-h6-margin-bottom !default;
