.node {
  $self: &;

  &--zoomed {
    $title-font-size: 24px;
    $title-line-height: 1.3;
    $teaser-font-size: 16px;
    $teaser-line-height: 1.5;

    #{ $self } {
      &__title {
        font-size: $title-font-size;
        line-height: $title-line-height;
        @include theme-apply-responsive-fonts(
          $font-size: $theme-item-title-font-size-sm,
          $line-height: $theme-item-title-line-height-sm,
        );

        // stylelint-disable-next-line selector-max-compound-selectors
        a {
          @include theme-max-lines(
            $font-size: $title-font-size,
            $font-size-sm: $theme-item-title-font-size-sm,
            $line-height: $title-line-height,
            $line-height-sm: $theme-item-title-line-height-sm,
            $num: 4,
          );
        }
      }
      &__text--teaser {
        font-size: $teaser-font-size;
        line-height: $teaser-line-height;
        @include theme-apply-responsive-fonts(
          $font-size: $theme-item-description-font-size-sm,
          $line-height: $theme-item-description-line-height-sm,
        );

        // stylelint-disable-next-line selector-max-compound-selectors
        a {
          @include theme-max-lines(
            $font-size: $teaser-font-size,
            $font-size-sm: $theme-item-description-font-size-sm,
            $line-height: $teaser-line-height,
            $line-height-sm: $theme-item-description-line-height-sm,
            $num: 5,
          );
        }
      }
    }
  }
}
