
@include media-breakpoint-up(md) {
  .card-deck-flow {
    $self: &;
    &--4-cols {
      #{ $self }{
        &__node {
          flex: 0 0 25%;
          max-width: 25%;
        }
      }
    }

    &--6-cols {
      #{ $self }{
        &__node {
          flex: 0 0 16.6666%;
          max-width: 16.6666%;
        }
      }
    }
  }
}

@include media-breakpoint-between(sm, md) {
  .card-deck-flow {
    $self: &;
    &--6-cols {
      #{ $self }{
        &__node {
          flex: 0 0 33.3333%;
          max-width: 33.3333%;
        }
      }
    }
  }
}

.card-deck-flow {
  $self: &;
  &--featured-youtube-videos {
    #{ $self } {
      &__node {
        @include media-breakpoint-up(md) {
          @include make-col(4);
        }
        @include media-breakpoint-up(lg) {
          @include make-col(4);
        }
      }
    }
  }
}
