.inquiry-form {
  padding: $block-spacer;
  margin-top: 0;
  margin-bottom: $block-spacer;
  background-color: #f8f9fa;
  border-top: 0;

  &__header {
    font-size: 20px;
    font-weight: $font-weight-bold;
  }

  &__description {
    padding-bottom: 1rem;
  }

  &__content-name {
    font-weight: 600;
  }

  &--margin-top {
    margin-top: map-get($spacers, block);
  }

  &--right-rail {
    padding: 0;
    background-color: $white;

    label {
      margin-bottom: 0;
    }
  }

  .btn-lg {
    font-size: 1rem;
    font-weight: 600;
  }
}
