.leaders {
  @include border-radius($theme-card-border-radius);
  @include box-shadow($theme-card-box-shadow);
  background-color: $white;
  &__body {
    padding: $marko-web-node-padding;
  }
  &__header {
    border-top-left-radius: $theme-card-border-radius;
    border-top-right-radius: $theme-card-border-radius;
  }
}
