// Fonts
//
// Skin primary + secondary fonts. By default, set secondary to primary.
$skin-font-family-primary: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$skin-font-family-secondary: $skin-font-family-primary !default;
// Set bootstrap font to primary skin font
$font-family-sans-serif: $skin-font-family-primary;

// Set theme's font family and page title to primary skin font.
$theme-font-family-sans-serif: $skin-font-family-primary !default;
$theme-font-family-page-title: $skin-font-family-primary !default;


// Low-Level Vars
//
// Disable rounding and shadows
$enable-shadows: false;
$enable-rounded: false;
// Override bredcrumb divider
$breadcrumb-divider: "|" !default;
// Set gutter and block spacer
$grid-gutter-width: 20px;
$block-spacer: 24px;
$hr-margin-y: $grid-gutter-width / 2;

// Marko Web Document and Page Settings
//
$marko-web-document-container-max-width: 1080px;
$marko-web-document-container-gutter: 0;
$marko-web-page-wrapper-padding: 10px;
$marko-web-page-padding: 0;

// Colors
//
// Set default grayscale
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

// Set default body bg, font color, and primary/secondary color
$body-bg: $white !default;
$body-color: $gray-800 !default;
$blue: #007bff !default;
// Primary/secondary
$primary: $blue !default;
$secondary: $gray-800 !default;
// Default hover colors
$skin-primary-hover-color: darken($primary, 15%) !default;
$skin-secondary-hover-color: darken($secondary, 15%) !default;
// Ad background colors
$skin-ad-bg-color: $gray-100 !default;
$skin-ad-label-color: $gray-700 !default;
// HR color
$hr-border-color: $gray-700 !default;

// Marko Web Nodes
//
$marko-web-node-padding: 20px;


// Marko Web Node Lists
//
$marko-web-node-list-padding: 16px;
$marko-web-node-list-border-color: $gray-200 !default;

// Font Weights
//
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-normal: 400;

$typography: () !default;
$typography: non-destructive-map-merge(
  (
    "header-1": (
      "color": $gray-800,
      "font-family": $skin-font-family-secondary,
      "font-weight": $font-weight-bold,
      "font-size": 40px,
      "font-size-mobile": 24px,
      "line-height": 1.15,
      "line-height-mobile": 1.25,
      "letter-spacing": .5px,
      "text-transform": none,
    ),
    "header-2": (
      "color": $gray-800,
      "font-family": $skin-font-family-secondary,
      "font-weight": $font-weight-bold,
      "font-size": 22px,
      "font-size-mobile": 22px,
      "line-height": 1.27,
      "line-height-mobile": 1.27,
      "letter-spacing": .5px,
      "text-transform": none,
    ),
    "header-3": (
      "color": $gray-800,
      "font-family": $skin-font-family-secondary,
      "font-weight": $font-weight-bold,
      "font-size": 18px,
      "font-size-mobile": 18px,
      "line-height": 1.33,
      "line-height-mobile": 1.33,
      "letter-spacing": .25px,
      "text-transform": none,
    ),
    "article-text": (
      "color": $gray-800,
      "font-family": $skin-font-family-primary,
      "font-weight": $font-weight-normal,
      "font-size": 20px,
      "font-size-mobile": 18px,
      "line-height": 1.5,
      "line-height-mobile": 1.44,
      "letter-spacing": .25px,
      "text-transform": none,
    ),
    "small-body-text": (
      "color": $gray-800,
      "font-family": $skin-font-family-primary,
      "font-weight": $font-weight-normal,
      "font-size": 16px,
      "font-size-mobile": 16px,
      "line-height": 1.5,
      "line-height-mobile": 1.5,
      "letter-spacing": .25px,
      "text-transform": none,
    ),
    "credit-disclaimer": (
      "color": $gray-700,
      "font-family": $skin-font-family-primary,
      "font-weight": $font-weight-normal,
      "font-size": 14px,
      "font-size-mobile": 14px,
      "line-height": 1.28,
      "line-height-mobile": 1.28,
      "letter-spacing": .25px,
      "text-transform": none,
    ),
    "section-header": (
      "color": $gray-800,
      "font-family": $skin-font-family-primary,
      "font-weight": $font-weight-bold,
      "font-size": 32px,
      "font-size-mobile": 28px,
      "line-height": 1.13,
      "line-height-mobile": 1.14,
      "letter-spacing": 1px,
      "text-transform": uppercase,
    ),
    "section-header-small": (
      "color": $gray-800,
      "font-family": $skin-font-family-primary,
      "font-weight": $font-weight-bold,
      "font-size": 22px,
      "font-size-mobile": 22px,
      "line-height": 1.27,
      "line-height-mobile": 1.27,
      "letter-spacing": .75px,
      "text-transform": uppercase,
    ),
    "slug-medium": (
      "color": $primary,
      "font-family": $skin-font-family-primary,
      "font-weight": $font-weight-semibold,
      "font-size": 18px,
      "font-size-mobile": 18px,
      "line-height": 1,
      "line-height-mobile": 1,
      "letter-spacing": .5px,
      "text-transform": uppercase,
    ),
    "slug-small": (
      "color": $primary,
      "font-family": $skin-font-family-primary,
      "font-weight": $font-weight-semibold,
      "font-size": 14px,
      "font-size-mobile": 14px,
      "line-height": 1,
      "line-height-mobile": 1,
      "letter-spacing": .5px,
      "text-transform": uppercase,
    ),
    "sponsored-by": (
      "color": $blue,
      "font-family": $skin-font-family-primary,
      "font-weight": $font-weight-medium,
      "font-size": 14px,
      "font-size-mobile": 14px,
      "line-height": 1,
      "line-height-mobile": 1,
      "letter-spacing": .5px,
      "text-transform": uppercase,
    ),
    "input-label": (
      "color": $gray-800,
      "font-family": $skin-font-family-primary,
      "font-weight": $font-weight-medium,
      "font-size": 16px,
      "font-size-mobile": 16px,
      "line-height": 1,
      "line-height-mobile": 1,
      "letter-spacing": .25px,
      "text-transform": none,
    ),
    "date": (
      "color": $gray-700,
      "font-family": $skin-font-family-primary,
      "font-weight": $font-weight-medium,
      "font-size": 14px,
      "font-size-mobile": 14px,
      "line-height": 1,
      "line-height-mobile": 1,
      "letter-spacing": .25px,
      "text-transform": uppercase,
    ),
    // added
    "author-name-list": (
      "color": $gray-800,
      "font-family": $skin-font-family-primary,
      "font-weight": $font-weight-semibold,
      "font-size": 16px,
      "font-size-mobile": 16px,
      "line-height": 1,
      "line-height-mobile": 1,
      "letter-spacing": .5px,
      "text-transform": none,
    ),
    "author-title-list": (
      "color": $gray-800,
      "font-family": $skin-font-family-primary,
      "font-weight": $font-weight-normal,
      "font-size": 16px,
      "font-size-mobile": 16px,
      "line-height": 1,
      "line-height-mobile": 1,
      "letter-spacing": .25px,
      "text-transform": none,
    ),
    "view-more": (
      "color": $primary,
      "font-family": $skin-font-family-primary,
      "font-weight": $font-weight-bold,
      "font-size": 14px,
      "font-size-mobile": 14px,
      "line-height": 1,
      "line-height-mobile": 1,
      "letter-spacing": .5px,
      "text-transform": uppercase,
    ),
    "footer-header-1": (
      "color": $white,
      "font-family": $skin-font-family-primary,
      "font-weight": $font-weight-bold,
      "font-size": 18px,
      "font-size-mobile": 18px,
      "line-height": 1.33,
      "line-height-mobile": 1.33,
      "letter-spacing": .5px,
      "text-transform": none,
    ),
    "footer-text": (
      "color": $white,
      "font-family": $skin-font-family-primary,
      "font-weight": $font-weight-normal,
      "font-size": 16px,
      "font-size-mobile": 16px,
      "line-height": 1.5,
      "line-height-mobile": 1.5,
      "letter-spacing": .25px,
      "text-transform": none,
    ),
    "teaser-text-1": (
      "color": $gray-800,
      "font-family": $skin-font-family-primary,
      "font-weight": $font-weight-normal,
      "font-size": 18px,
      "font-size-mobile": 18px,
      "line-height": 1.4,
      "line-height-mobile": 1.4,
      "letter-spacing": .25px,
      "text-transform": none,
    ),
    "header-1.5": (
      "color": $gray-800,
      "font-family": $skin-font-family-secondary,
      "font-weight": $font-weight-bold,
      "font-size": 24px,
      "font-size-mobile": 24px,
      "line-height": 1.2,
      "line-height-mobile": 1.2,
      "letter-spacing": .5px,
      "text-transform": none,
    ),
  ),
  $typography
);

$typography-links: () !default;
$typography-links: non-destructive-map-merge(
  (
    "header-1": (
      "primary": (
        "max-lines": 4,
        "text-decoration": none,
        "hover-color": $primary,
        "hover-text-decoration": underline,
      ),
    ),
    "header-2": (
      "primary": (
        "max-lines": 3,
        "text-decoration": none,
        "hover-color": $primary,
        "hover-text-decoration": underline,
      ),
    ),
    "header-3": (
      "primary": (
        "max-lines": 3,
        "text-decoration": none,
        "hover-color": $primary,
        "hover-text-decoration": underline,
      ),
    ),
    "section-header-small": (
      "primary": (
        "max-lines": false,
        "text-decoration": none,
        "hover-color": $primary,
        "hover-text-decoration": none,
      ),
    ),
    "article-text": (
      "primary": (
        "max-lines": 3,
        "text-decoration": none,
        "hover-color": map-deep-get($typography, "article-text", "color"),
        "hover-text-decoration": none,
      ),
    ),
    "slug-small": (
      "primary": (
        "max-lines": false,
        "text-decoration": none,
        "hover-color": $skin-primary-hover-color,
        "hover-text-decoration": none,
      ),
    ),
    "author-name-list": (
      "primary": (
        "max-lines": false,
        "text-decoration": none,
        "hover-color": $primary,
        "hover-text-decoration": none,
      ),
    ),
    "view-more": (
      "primary": (
        "max-lines": false,
        "text-decoration": none,
        "hover-color": $skin-primary-hover-color,
        "hover-text-decoration": none,
      ),
    ),
    "teaser-text-1": (
      "primary": (
        "max-lines": 3,
        "text-decoration": none,
        "hover-color": map-deep-get($typography, "teaser-text-1", "color"),
        "hover-text-decoration": none,
      ),
    ),
    "header-1.5": (
      "primary": (
        "max-lines": 3,
        "text-decoration": none,
        "hover-color": $primary,
        "hover-text-decoration": underline,
      ),
    ),
  ),
  $typography-links,
);

// Skin content body and image widths
$skin-aligned-image-width: 300px;
$skin-aligned-body-image-spacer: .75rem;
$skin-content-body-max-width: 700px;
$skin-content-primary-image-max-width: 880px;

// Skin Node Font Sizes / Line Heights
// @todo remove these!!!
$skin-node-text-font-size-xl: 38px !default;
$skin-node-text-line-height-xl-px: 40px !default;
$skin-node-text-line-height-xl: get-line-height($skin-node-text-font-size-xl, $skin-node-text-line-height-xl-px);

$skin-node-text-font-size-lg: 24px !default;
$skin-node-text-line-height-lg-px: 32px !default;
$skin-node-text-line-height-lg: get-line-height($skin-node-text-font-size-lg, $skin-node-text-line-height-lg-px);

$skin-node-text-font-size-md: 18px !default;
$skin-node-text-line-height-md-px: 24px !default;
$skin-node-text-line-height-md: get-line-height($skin-node-text-font-size-md, $skin-node-text-line-height-md-px);

// Page
$theme-page-title-font-weight: $font-weight-bold;

$theme-site-header-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .025), 0 3px 1px -2px rgba(0, 0, 0, .06), 0 1px 5px 0 rgba(0, 0, 0, .08) !default;

// Navbar
$theme-site-navbar-brand-margin-x: 36px !default;

$theme-site-navbar-logo-height: 40px !default;
$theme-site-navbar-logo-height-sm: 35px !default;

$theme-site-navbar-primary-height-sm: 0;

$theme-site-navbar-secondary-bg-color: $white;
$theme-site-navbar-secondary-font-size: 18px !default;
$theme-site-navbar-secondary-font-size-sm: $theme-site-navbar-secondary-font-size - 2;
$theme-site-navbar-secondary-line-height: get-line-height($theme-site-navbar-secondary-font-size, 26px);
$theme-site-navbar-secondary-line-height-sm: get-line-height($theme-site-navbar-secondary-font-size-sm, 24px);
$theme-site-navbar-secondary-font-weight: $font-weight-semibold !default;
$theme-site-navbar-secondary-padding-y: 15px !default;
$theme-site-navbar-secondary-type: light;
$theme-site-navbar-secondary-link-active-decoration: none;
$theme-site-navbar-secondary-link-hover-decoration: none;

$theme-site-navbar-secondary-link-color: $secondary !default;
$theme-site-navbar-secondary-link-active-color: $primary !default;
$theme-site-navbar-secondary-link-hover-color: $primary !default;
$theme-site-navbar-secondary-link-padding: 10px !default;

// Site Menu
$theme-site-navbar-menu-width: 375px;
$theme-site-navbar-menu-max-width: 100%;

$theme-site-navbar-menu-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, .1), 0 6px 20px 0 rgba(0, 0, 0, .15);
$theme-site-navbar-menu-padding-x: 24px;
$theme-site-navbar-menu-padding-y: 24px;
$theme-site-navbar-menu-bg-color: $white;
$theme-site-navbar-menu-hover-background-color: $theme-site-navbar-menu-bg-color;

$theme-site-navbar-menu-item-font-size: 24px;
$theme-site-navbar-menu-item-font-weight: $font-weight-bold;
$theme-site-navbar-menu-item-border-color: transparent;

$theme-site-navbar-menu-active-item-font-weight: $font-weight-bold;

$theme-site-navbar-menu-link-padding-x: 8px;
$theme-site-navbar-menu-link-padding-y: 0;
$theme-site-navbar-menu-link-color: $black !default;
$theme-site-navbar-menu-link-hover-color: $primary !default;

// Site Footer
$global-site-footer-color: $white;

$theme-site-footer-font-size: 16px;
$theme-site-footer-line-height: get-line-height($theme-site-footer-font-size, 30px);

$theme-site-footer-secondary-bg-color: $gray-800 !default;
$theme-site-footer-primary-bg-color: $gray-900 !default;

$theme-site-footer-copyright-color: $white;
$theme-site-footer-copyright-font-size: $theme-site-footer-font-size;

$theme-site-footer-spacer: 14px;
$theme-site-footer-spacer-sm: 14px;

$theme-site-footer-logo-height: 35px !default;
$theme-site-footer-logo-height-sm: 35px !default;

// Items/Nodes
$theme-item-link-hover-decoration: none;

$theme-item-header-color: $black;
$theme-item-header-font-family: $skin-font-family-primary;
$theme-item-header-font-size: 15px;
$theme-item-header-font-weight: $font-weight-bold;

$theme-item-header-link-hover-color: $primary !default;

$theme-item-title-font-size: $skin-node-text-font-size-md;
$theme-item-title-line-height: $skin-node-text-line-height-md;
$theme-item-title-font-size-sm: $skin-node-text-font-size-md;
$theme-item-title-line-height-sm: $skin-node-text-line-height-md;
$theme-item-title-font-weight: $font-weight-bold;

$theme-item-title-link-hover-color: $primary !default;

$theme-item-description-font-family: $theme-font-family-sans-serif;
$theme-item-description-font-size: $skin-node-text-font-size-md;
$theme-item-description-line-height: $skin-node-text-line-height-md;
$theme-item-description-font-size-sm: $skin-node-text-font-size-md;
$theme-item-description-line-height-sm: $skin-node-text-line-height-md;
$theme-item-description-max-lines: 3;
$theme-item-description-margin: 10px;

// Ads
$theme-ad-box-shadow: none;

// Card Header
$theme-card-header-background-color: transparent;
$theme-card-header-color: $black;
$theme-card-header-font-size: 22px;
$theme-card-header-font-weight: $font-weight-bold;
$theme-card-header-text-transform: none;
$theme-card-header-border: none;

$theme-card-header-link-hover-color: $primary;
$theme-card-header-link-hover-decoration: none;

// Pages
$theme-page-body-font-family: $theme-font-family-sans-serif;

$theme-page-body-font-size: 19px;
$theme-page-body-font-size-sm: $theme-page-body-font-size;
$theme-page-body-line-height: get-line-height($theme-page-body-font-size, 25px);
$theme-page-body-line-height-sm: $theme-page-body-line-height;

// Caption / Credit / Media
$theme-media-footer-font-size: 16px;

$theme-media-footer-line-height: get-line-height($theme-media-footer-font-size, 22px);
$theme-media-caption-color: #6c6972;

// Headings
$theme-heading-large-font-size:       28px !default;
$theme-heading-large-font-size-sm:    28px !default;
$theme-heading-large-line-height:     1.2 !default;
$theme-heading-large-line-height-sm:  1.2 !default;

$theme-heading-h4-font-size:          24px !default;
$theme-heading-h4-font-size-sm:       24px !default;
$theme-heading-h4-line-height:        1.2 !default;
$theme-heading-h4-line-height-sm:     1.2 !default;

$theme-heading-h5-font-size:          24px !default;
$theme-heading-h5-font-size-sm:       24px !default;
$theme-heading-h5-line-height:        1.2 !default;
$theme-heading-h5-line-height-sm:     1.2 !default;

$theme-heading-h6-font-size:          20px !default;
$theme-heading-h6-font-size-sm:       20px !default;
$theme-heading-h6-line-height:        1.2 !default;
$theme-heading-h6-line-height-sm:     1.2 !default;

// Content Headings
$theme-content-heading-large-margin-bottom:     1rem !default;
$theme-content-heading-large-margin-bottom-sm:  1rem !default;

$theme-content-heading-h4-margin-bottom:        1rem !default;
$theme-content-heading-h4-margin-bottom-sm:     1rem !default;

$theme-content-heading-h5-margin-bottom:        1rem !default;
$theme-content-heading-h5-margin-bottom-sm:     1rem !default;

$theme-content-heading-h6-margin-bottom:        1rem !default;
$theme-content-heading-h6-margin-bottom-sm:     1rem !default;


// Embedded media
$theme-embedded-media-align-left-width: $skin-aligned-image-width;
$theme-embedded-media-align-left-margin: $skin-aligned-body-image-spacer;

$theme-embedded-media-align-right-width: $skin-aligned-image-width;
$theme-embedded-media-align-right-margin: $skin-aligned-body-image-spacer;
