@import "../../node_modules/@base-cms/marko-web-theme-default/scss/functions";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Open+Sans:wght@400;700&display=swap");

// skin vars
@import "./variables";

@import "../../node_modules/@base-cms/marko-web-theme-default/scss/theme";
@import "../../node_modules/bootstrap/scss/input-group";

// skin mixins
@import "./mixins";

// skin components
@import "./components/ads";
@import "./components/page-wrapper";
@import "./components/site-footer";
@import "./components/site-menu";
@import "./components/site-navbar";

@import "./components/blocks/most-popular";
@import "./components/blocks/section-feed";
@import "./components/blocks/social-follow";
@import "./components/blocks/top-stories";

body {
  -webkit-font-smoothing: antialiased;
}

a {
  transition: color 200ms ease-in;
}

.document-container {
  background-color: $white;
}

.node {
  $self: &;
  $image-border: 1px solid rgba(239, 239, 239, .9);

  &__header-left {
    text-transform: uppercase;
    // @todo figure out the line height crop
  }

  &__text {
    &--date {
      font-size: 14px;
    }
  }

  &__image {
    border: $image-border;
  }

  &__image-inner-wrapper--fluid-3by2 {
    #{ $self } {
      &__image {
        border: $image-border;
      }
    }
  }
}

.node-list {
  padding-bottom: map-get($spacers, block);

  &__header {
    padding-bottom: 0;
  }
}

.card-deck-flow {
  $self: &;

  &--4-cols {
    #{ $self } {
      &__node {
        // account for smaller container max-width and break earlier than normal
        @include media-breakpoint-up(md) {
          @include make-col(6);
        }
        @include media-breakpoint-up(lg) {
          @include make-col(3);
        }
      }
    }
  }
}
