// skin functions and vars (funcs must be first).
@import "./functions";
@import "./variables";

@import "../../node_modules/@parameter1/base-cms-marko-web-theme-default/scss/theme";
@import "../../node_modules/@parameter1/base-cms-marko-web-social-sharing/scss/buttons";
@import "../../node_modules/bootstrap/scss/input-group";

// skin mixins
@import "./mixins";

// skin components
@import "./components/ads";
@import "./components/author-node";
@import "./components/author-published-node";
@import "./components/comments";
@import "./components/content-page";
@import "./components/page-wrapper";
@import "./components/pagination-controls";
@import "./components/site-footer";
@import "./components/site-menu";
@import "./components/site-navbar";
@import "./components/site-newsletter-menu";
@import "./components/search-page";
@import "./components/spec-guide";
@import "./components/sponsor-logo";

@import "./components/blocks/callout-cards";
@import "./components/blocks/ccj-top-250";
@import "./components/blocks/gear";
@import "./components/blocks/hero-card";
@import "./components/blocks/latest-podcast";
@import "./components/blocks/latest-products-feed";
@import "./components/blocks/more-gear";
@import "./components/blocks/most-popular";
@import "./components/blocks/newsletter-signup-banner";
@import "./components/blocks/newsletter-signup-banner-large";
@import "./components/blocks/node-author";
@import "./components/blocks/opinion";
@import "./components/blocks/partners-in-business";
@import "./components/blocks/pib-featured";
@import "./components/blocks/primary-image";
@import "./components/blocks/promo-card";
@import "./components/blocks/read-next";
@import "./components/blocks/reader-rigs";
@import "./components/blocks/related-stories";
@import "./components/blocks/resource-library";
@import "./components/blocks/white-papers";
@import "./components/blocks/section-feed";
@import "./components/blocks/section-list";
@import "./components/blocks/social-follow";
@import "./components/blocks/top-stories";
@import "./components/blocks/top-stories-menu";

body {
  -webkit-font-smoothing: antialiased;
  // set a default letter spacing of .25px, since most fonts have some form of spacing
  letter-spacing: .25px;
}

label {
  @include skin-typography($style: "input-label");
}

.col-spacer {
  margin-bottom: 30px;
  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }
}

.form-control {
  letter-spacing: $skin-input-letter-spacing;
  border-radius: $input-border-radius; // must force this value since radius is disabled
  &:hover:not(:focus) {
    border-color: $skin-input-hover-border-color;
  }
}

.btn-primary {
  @include skin-button($style: "primary");
}

.btn-secondary {
  @include skin-button($style: "secondary");
}

.btn-light {
  @include skin-button($style: "light");
}

.document-container {
  padding-top: 0;
  background-color: $white;
}

.node {
  $self: &;
  $image-border: 1px solid rgba(239, 239, 239, .9);

  &__header {
    margin-bottom: 6px;
  }

  &__content-published {
    @include skin-typography($style: "date");
  }

  &__image {
    border: $image-border;
  }

  &__image-inner-wrapper--fluid-3by2 {
    #{ $self } {
      &__image {
        border: $image-border;
        object-fit: cover;
      }
    }
  }

  &--video-content-type {
    #{ $self } {
      &__image-inner-wrapper {
        &::after {
          $size: 70px;
          width: 70px;
          height: 70px;
          opacity: 1;
        }
      }
    }
  }
}

.node-list {
  &__header {
    padding-bottom: 0;
  }
}

.card-deck-flow {
  $self: &;

  &--3-cols {
    #{ $self } {
      &__node {
        @include media-breakpoint-up(md) {
          @include make-col(4);
        }
        @include media-breakpoint-up(lg) {
          @include make-col(4);
        }
      }
    }
  }

  &--4-cols {
    #{ $self } {
      &__node {
        // account for smaller container max-width and break earlier than normal
        @include media-breakpoint-up(sm) {
          @include make-col(12);
        }
        @include media-breakpoint-up(md) {
          @include make-col(6);
        }
        @include media-breakpoint-up(lg) {
          @include make-col(3);
        }

        // @include media-breakpoint-down(sm) {
        //   margin-bottom: 16px;
        // }
        // &:last-child {
        //   @include media-breakpoint-down(sm) {
        //     margin-bottom: 0;
        //   }
        // }
      }
    }
  }
}

// ensure all anvato embeds are treated like videos
[data-oembed-provider="Anvato"] {
  @extend .embed-responsive;
  @extend .embed-responsive-16by9;
}
