$theme-site-header-breakpoints: (
  hide-primary: 100000px, // effectively always hide the primary nav
  hide-secondary: 800px,
  small-logo: 1000px,
  small-text-primary: 0,
  small-text-secondary: 1000px
);

// Colors
$primary: #587500;

@import "../../node_modules/@randall-reilly/package-global/scss/core";
