$primary: #0271bb;
$secondary: #f58220;
$light: #e9ecef;
$dark: #212529;
$info: #6c757d;

$leaders-primary-color: $primary;
$leaders-primary-color-light: lighten($leaders-primary-color, 10%);
$leaders-accent-color: $primary;

$theme-site-navbar-secondary-link-color: $light;
$theme-site-navbar-secondary-link-hover-color: $light;
$theme-site-navbar-secondary-link-active-color: $light;

$theme-site-navbar-tertiary-link-active-color: $light;
$theme-site-navbar-tertiary-link-color: $light;
$theme-site-navbar-tertiary-link-hover-color: $light;

$theme-newsletter-block-bg-color: $primary;
$theme-newsletter-block-button-bg-color: #000;

$theme-site-header-breakpoints: (
  hide-primary: 750px,
  hide-secondary: 0,
  small-logo: 750px,
  small-text-primary: 850px,
  small-text-secondary: 0
);

@import "../../node_modules/@randall-reilly/package-shared/scss/randall-reilly-skin";
