$primary: #f58220;

$theme-site-header-breakpoints: (
  hide-primary: 100000px, // effectively always hide the primary nav
  hide-secondary: 700px,
  small-logo: 775px,
  small-text-primary: 0,
  small-text-secondary: 830px
);

@import "../../node_modules/@randall-reilly/package-global/scss/core";

.site-navbar {
  &__items {
    &--secondary {
      // ensures the nav items are aligned to the offset logo
      padding-top: 6px;
    }
  }
}
