$theme-site-header-breakpoints: (
  hide-primary: 100000px, // effectively always hide the primary nav
  hide-secondary: 960px,
  small-logo: 1115px,
  small-text-primary: 0,
  small-text-secondary: 1115px
);

// Colors
$primary: #b94909;

@import "../../node_modules/@randall-reilly/package-global/scss/core";

.safety-watch {
  .btn-secondary,
  .btn-primary {
    &:hover {
      color: #fff;
      background-color: $primary;
      border-color: $primary;
    }
  }
}
