$theme-site-header-breakpoints: (
  hide-primary: 100000px, // effectively always hide the primary nav
  hide-secondary: 700px,
  small-logo: 880px,
  small-text-primary: 0,
  small-text-secondary: 880px
);

// Colors
$primary: #103a57;

@import "../../node_modules/@randall-reilly/package-global/scss/core";

@import "./directory";

.awards {
  .sponsor-logos {
    display: flex;
    align-content: center;
    align-items: stretch; // <-- stretch vertical (default value, can be omitted here)
    justify-content: center;
    .logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: map-get($spacers, block) / 2;
      margin: map-get($spacers, block) / 3;
      background-color: #f1f1f1;
    }
  }
}
