<marko-web-link
  class="mb-block btn btn-primary uppercase"
  href="https://img.ccjdigital.com/files/base/randallreilly/all/document/static/2020-CCJ-Top-250-for-Web-Download-2020-09-04-05-07.pdf"
  title="Get the full report"
  target="_blank"
>
  Download the entire report
</marko-web-link>
